[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".vim/bundles/vim-ruby"]
	path = .vim/bundles/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundles/vim-simple-todo"]
	path = .vim/bundles/vim-simple-todo
	url = https://github.com/vitalk/vim-simple-todo
