/*

!.gitignore
!.gitmodules

!.gitconfig
!.global_gitignore

!.zshrc
!zshrc/
!.oh-my-zsh/

!.vimrc
!.vim/
.vim/.netrwhist

!.tmux.conf

!.alacritty.yml

!README.md

# i3 config
!.xinitrc
!.Xresources
!.config
.config/*
!.config/i3
.config/i3/custom.conf
