[user]
	name = Aleksei Zaitsev
	email = drshnitsel@gmail.com
[init]
	defaultBranch = master
[core]
	excludesfile = ~/.global_gitignore
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
